.popup {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 200px;
    right: 600px;
    z-index: 10;
    background-color: rgb(31, 31, 31);
    color: white;
    transition-duration: .4s;
}
